*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#nav{
    height: 60px;
    width: 100%;
    background-color: rgb(33, 33, 33);
    display:flex;
    align-items:center ;
    justify-content:center;
    gap: 30px;

}

#nav>h4{
    color: white;
    font-weight: 100;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#center1{
    height: 92%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;    
}

#center1 h1{
    color: white;
    font-size: 60px;
    font-weight:700;
}

#center1>h5{
    color: white;
    font-size: 40px;
    font-weight:300;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-top: 15px;
}

#links button{
    color: white;
    background-color: royalblue;
    padding:13px 20px;
    border-radius: 50px;
    border: none;
}

#center2{
    height: 100%;
    width: 100%;
    background-color:black;
}

#center2 h1{
    color: white;
    padding-top: 45px;
    padding-left: 40px;
    font-size: 50px;
}

