*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    height: 250px;
    width: 250px;
    margin-left: 1%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 10px 20px rgb(55, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card h2{
    font-weight: 500px;
    font-size: 25px;
}

.card p{
    font-size: 14px;
    font-weight: 600;
    color:black;
    text-align: center;
    margin-bottom: 5px;
}


.card button{
    border-radius: 50px;
    padding: 10px 30px;
    background-color:rgb(69, 151, 234);
    font-weight: 500;
    cursor: pointer;
}

.card button:hover{
    background-color:transparent;
}