.min-h-screen{
    min-height: 100vh;
}


.mx-auto{
    margin-left: auto;
    margin-right: auto;
}


.flex{
    display: flex;
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: 900;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(29,88,214);
}

.btn{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    background-color:rgb(29,88,214);
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}

.btn2{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 395px;
}

.btn3{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    background-color:rgb(29,88,214);
}

td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

th{
    padding: 15px;
    text-align: center;
}

thead th{
    text-align: right;
    
}

td:first-child{
    text-align: left;
    font-weight: 700;
    color: #444;
}

tbody tr:hover{
    background-color: #f0f8ff;
}

td:empty {
  background-color: #f9f9f9;
}

td::before{
    content: '';
}

.btn4{
     padding:12px 16px;
    border: 3px solid white;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    background-color:rgb(167, 165, 165);
}

